@charset "utf-8";
/* CSS Document */
html{ -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
html,body,div,p,span,a,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,form,input,select,textarea,button,label,fieldset,table,tr,td,th,tbody,thead,tfoot,caption,video,strong,em,i,b{ margin:0; padding:0; word-break:keep-all; font-family:inherit; font-size:inherit; font-weight:inherit;}
ul,ol,li{ list-style:none;}
img { border:none; max-width:100%;}
em,i{ font-style:normal;}
strong,th,b{ font-weight:500;}
table{ table-layout:fixed; border-collapse:collapse; border-spacing:0;}
span, strong, a, em, i, b, input, button, textarea, select{ font-size:inherit; font-family:inherit; vertical-align:middle;}
input[type=button], input[type=submit], button{ cursor:pointer}
select{ max-width:100%;}
input[type="text"],input[type="password"],input[type=button],input[type=submit],input[type=tel],input[type="file"],button,label,textarea,select{ appearance:none; -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:0;}
a, input, button, textarea, select, li{ -webkit-tap-highlight-color:transparent;}
*:focus, a:focus, input:focus, button:focus, textarea:focus, select:focus{ outline:none;}

::selection     { background:#3fbd85; color:#fff !important;}
::-moz-selection{ background:#3fbd85; color:#fff !important;}

a:link   { color:#222; text-decoration:none;}
a:visited{ color:#222;}
a:active { color:#222;}
a:hover  { color:#222; text-decoration:none;}

html{ overflow-x:hidden; overflow-y:scroll;}
body{ font-family:'NotoSans',sans-serif; font-weight:400; line-height:1.3; letter-spacing:-.5px;}
body.hidden, html.hidden{ overflow-y:hidden;}

/*inc*/
.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important; display:block}
.oh{ overflow:hidden !important;}

.pr{ position:relative; z-index:inherit}
.pa{ position:absolute; z-index:inherit}
.pa100{ position:absolute; z-index:inherit; left:0; top:0; width:100%; height:100%}

.di{display:inline-block; *display:inline; zoom:1;}
.db{ display:block !important;}
.dn{ display:none !important;}

.con_idx{ position:relative;}
.con_idx > .idx{ position:absolute; left:0; top:0; width:100%; height:0; overflow:hidden; visibility:hidden; filter:alpha(opacity=0); opacity:0;}
.con_idx > .idx.on{ position:relative; height:auto; overflow:visible; visibility:visible; filter:alpha(opacity=100); opacity:1;}

.fixWrap{position:relative;}
.fixWrap .fixIn{ position:absolute; height:100%; top:0}
.fixWrap .fixIn .fixObj{ position:absolute; transition:.3s}
.fixWrap .fixIn .fixObj.scroll{ position:fixed}
.fixWrap .fixIn .fixObj.bottom{ position:absolute; bottom:0}

.ttAppend > em{ display:inline-block}

.line_ani,
.line_ani_wrap{ position:relative; z-index:inherit}
.line_ani .line{ position:absolute; background:#111; width:0; height:0}
.line_ani .line.lineT{ left:0; top:-1px; transition:width 0.3s;}
.line_ani .line.lineR{ right:-1px; top:0; transition:height 0.3s;}
.line_ani .line.lineB{ right:0; bottom:-1px; transition:width 0.3s;}
.line_ani .line.lineL{ left:-1px; bottom:0; transition:height 0.3s;}
.line_ani:hover .line.lineT,
.line_ani:hover .line.lineB{ width:100%; height:3px}
.line_ani:hover .line.lineR,
.line_ani:hover .line.lineL{ width:3px; height:100%}

.bgMoveWrap{ position:relative}
.bgMoveWrap .bgMove{ position:absolute; opacity:0}
.bgMoveWrap .bgMove.on{ transition:left .2s; opacity:1}

.layer_wrap{ position:fixed; left:0; top:0; width:100%; height:100%; visibility:hidden; z-index:1000}
.layer_wrap .layer_bg{position:absolute; z-index:9999; width:100%; height:100%; left:0; top:0; background:#000; opacity:0; transition:.5s}
.layer_wrap .layer_frame{ position:absolute; z-index:10000; left:0; top:0; margin-top:90%; width:100%; height:100%; transition:.5s}

.layer_wrap.on{ visibility:visible}
.layer_wrap.on .layer_bg{ opacity:.5}
.layer_wrap.on .layer_frame{ margin-top:0}

body.pop{background:transparent}
body.pop .popWrap{ position:absolute; left:2%; top:2%; width:96%; height:96%; text-align:center; white-space:nowrap}
body.pop .popWrap:before{ content: ""; display: inline-block; width: 0; height: 100%; margin-right: -4px; vertical-align: middle}
body.pop .popWrap .popIn{ display: inline-block; vertical-align: middle; background:#fff; border-radius:0 0 5px 5px; box-shadow:1px 1px 10px #333; position:relative; text-align:left; white-space:normal;max-height:100%; max-width:100%;}
body.pop .popWrap .popIn:before{ content: attr(data-tit); position:absolute; left:0; top:0; width:100%; z-index:1; color:#fff; display:block; left:0; top:0; padding:.7em 4em .7em 1em; font-size:1.25em; background:#111; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; box-sizing:border-box}
body.pop .popWrap .popIn .popCon{ padding:4.5em 1.25em 2em 1.25em; min-width:250px}
body.pop .popWrap .popIn .popClose{position:absolute; z-index:10000; right:0; top:0; width:1.75em; padding:.3em 0; color:#fff; text-align:center;font-size:2rem; opacity:.8}
body.pop .popWrap .popIn .popClose:hover{ opacity:1}
body.pop .popWrap .popIn.add_b1:before,
body.pop .popWrap .popIn.add_b2:before,
body.pop .popWrap .popIn.add_b3:before{ background:inherit}
body.pop .popWrap .popIn.add_b1 .popCon,
body.pop .popWrap .popIn.add_b2 .popCon,
body.pop .popWrap .popIn.add_b3 .popCon{ background:#fff}

.layer_wrap_img{ position:fixed; z-index:1001; width:100%; height:100%; left:0; top:0; cursor:pointer; background:rgba(255,255,255,.7)}
.layer_wrap_img img{ max-height:60% !important}



/* body.pop{background:transparent; display:flex; justify-content:center; align-items:center; width:100vw; height:100vh}
body.pop .popWrap{ position:absolute; left:2%; top:2%; width:96%; height:96%; text-align:center; white-space:nowrap}
body.pop .popWrap:before{ content: ""; display: inline-block; width: 0; height: 100%; margin-right: -4px; vertical-align: middle}
body.pop .popWrap .popIn{ display: inline-block; vertical-align: middle; background:#fff; border-radius:0 0 5px 5px; box-shadow:1px 1px 10px #333; position:relative; text-align:left; white-space:normal;max-height:100%; max-width:100%;}
body.pop .popWrap .popIn:before{ content: attr(data-tit); position:absolute; left:0; top:0; width:100%; z-index:1; color:#fff; display:block; left:0; top:0; padding:.7em 4em .7em 1em; font-size:1.25em; background:#111; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; box-sizing:border-box}
body.pop .popWrap .popIn .popCon{ padding:4.5em 1.25em 2em 1.25em; min-width:250px}
body.pop .popWrap .popIn .popClose{position:absolute; z-index:10000; right:0; top:0; width:1.75em; padding:.3em 0; color:#fff; text-align:center;font-size:2rem; opacity:.8}
body.pop .popWrap .popIn .popClose:hover{ opacity:1}
body.pop .popWrap .popIn.add_b1:before,
body.pop .popWrap .popIn.add_b2:before,
body.pop .popWrap .popIn.add_b3:before{ background:inherit}
body.pop .popWrap .popIn.add_b1 .popCon,
body.pop .popWrap .popIn.add_b2 .popCon,
body.pop .popWrap .popIn.add_b3 .popCon{ background:#fff}

.layer_wrap_img{ position:fixed; z-index:1001; width:100%; height:100%; left:0; top:0; cursor:pointer; background:rgba(255,255,255,.7)}
.layer_wrap_img img{ max-height:60% !important}
 */







@media screen and (-webkit-min-device-pixel-ratio:0){
body.pop .popWrap .popIn .popClose{padding:.2em 0;}
}

/**/
.pd0 { padding:0 !important;}
.pt0 { padding-top:0 !important;}

.pd10{ padding:10px !important;}

.mt0 { margin-top:0 !important;}
.mt5 { margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt25{ margin-top:25px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}

.mb0 { margin-bottom:0 !important;}
.mb5 { margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mb15{ margin-bottom:15px !important;}
.mb20{ margin-bottom:20px !important;}
.mb25{ margin-bottom:25px !important;}
.mb30{ margin-bottom:30px !important;}
.mb40{ margin-bottom:40px !important;}
.mb50{ margin-bottom:50px !important;}

.ml0 { margin-left:0 !important;}
.ml5 { margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml15{ margin-left:15px !important;}
.ml20{ margin-left:20px !important;}
.ml25{ margin-left:25px !important;}
.ml30{ margin-left:30px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}

.mr0 { margin-right:0 !important;}
.mr5 { margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr20{ margin-right:20px !important;}
.mr25{ margin-right:25px !important;}
.mr30{ margin-right:30px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}

.fs15{ font-size:.938em !important}
.fs14{ font-size:.875em !important}
.fs13{ font-size:.813em !important}
.fs12{ font-size:.75em !important}
.fs32{ font-size:2em !important}

.sec2 > li { width:50% !important}
.sec3 > li { width:33.33% !important}
.sec4 > li { width:25% !important}
.sec5 > li { width:20% !important}
.sec6 > li { width:16.66% !important}
.sec7 > li { width:14.28% !important}
.sec8 > li { width:12.5% !important}
.sec9 > li { width:11.11% !important}
.sec10 > li{ width:10% !important}

.scrollst{ overflow:hidden}

.loading_st{position:fixed; left:0; top:0; width:100%; height:100%; z-index:1001; text-align:center; transition:.3s}
.loading_st .xi:before{ content:"\ec34"; font-size:3em; color:#00a3dd}
.load .loading_st{ display:none}

/**/
.flex-viewport{ width:100%; margin-right:-1px}
.slides{ overflow:hidden; opacity:0; white-space:nowrap}
.slides > li{ overflow:hidden; display:inline-block}
.load .slides{ opacity:1; white-space:normal}
.flex-direction-nav > li > a:before,
.flex-pauseplay > a:before{ font-family:xeicon!important}

/* slick-slider */
.slick-slider{ position: relative; display: block; box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list{ position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus{ outline: none;}
.slick-list.dragging{ cursor: pointer; cursor: hand;}

.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track{ position: relative; top: 0; left: 0; display: block;}
.slick-track:before,
.slick-track:after{ display: table; content: '';}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{ visibility: hidden;}

.slick-slide{ display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{ float: right;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{ display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden { display: none;}





/*nav*/

/*nav*/
.l-nav{ background:#fff;}
.l-nav .nav_logo{ position:relative; background:#fff; border-bottom:1px solid #e0dbd6;}
.l-nav .nav_logo .logo{ height:60px; display:block; text-align:left}
.l-nav .nav_logo .logo img{ max-height:2.5em; padding:1em 1em}
.l-nav .nav_close{ display:block; position:absolute; z-index:inherit; right:.8em; top:50%; margin-top:-.6em; font-size:1.750em;}
.l-nav .nav_close:before{ content:"\e921"; font-family:xeicon;}

.l-nav .menu_wrap{ padding:.8em 0; background:#f1f1f1;}
.l-nav .menu_wrap .menu{ margin:0 0 -1px -1px;}
.l-nav .menu_wrap .menu .vm_wrap{ height:60px; text-align:center;}
.l-nav .menu_wrap .menu > li{}
.l-nav .menu_wrap .menu > li > a{ margin:0 0 1px 1px; background:#fff; color:#000;}
.l-nav .menu_wrap .menu > li > a .xi{ display:block;}
.l-nav .menu_wrap .menu > li > a .tt{ display:block; font-size:.813em;}

.l-nav .gnb_wrap{ padding:10px; padding-bottom:50px;}
.l-nav .column{ margin-top:10px; background:#fff; border:1px solid #393a3e; box-shadow:1px 1px 5px rgba(0,0,0,.1);}
.l-nav .column:first-child{ margin-top:0;}
.l-nav .gnb{}
.l-nav .gnb .vm_wrap{ text-align:left;}
.l-nav .gnb > li{ position:relative; display:block}
.l-nav .gnb li.plus > a .arrow{ display:none}
.l-nav .gnb > li .dp1{ position:relative; z-index:1; height:40px; padding:0 20px; border-top:1px solid #f1f1f1; font-size:.938em; color:#000; text-transform:uppercase; text-align:left;}
.l-nav .gnb > li:first-child .dp1{ border-top:none;}
.l-nav .gnb > li .dp1:after{ content:"\e942"; font-family:xeicon; font-size:1.750em; color:#555; position:absolute; right:10px; top:50%; margin-top:-14px;}
.l-nav .gnb > li .dp1.nolink:after{ content:"\e93f";}

/*.l-nav .category .gnb > li:not(.m_product){ display:none;}
.l-nav .pagemenu .gnb > li.m_product{ display:none;}*/

.l-nav .category .gnb > li:before{ content:"\ea05"; font-family:xeicon; font-size:1.500em; position:absolute; z-index:2; top:0; left:.5em; line-height:40px;}
.l-nav .category .gnb > li .dp1{ padding-left:3em;}

.l-nav .gnb .dp2{ display:none; padding:10px 20px; background:#f9f9f9;}
.l-nav .gnb .dp2 > li{ display:block; text-align:left}
.l-nav .gnb .dp2 > li > a{ display:block; padding:.5em 0; border-top:1px solid #fff; border-bottom:1px solid #eee; font-size:.938em; color:#000; text-transform:uppercase; text-align:left}
.l-nav .gnb .dp2 > li > a:before{ content:"\e97e"; font-family:xeicon; color:#ccc; width:1.5em; vertical-align:middle;}
.l-nav .gnb .dp2 > li.item > a{ position:relative; z-index:1; margin-top:-1px; padding:.5em 1.5em; background:#F8F5F2; border:1px solid #e0dbd6 !important; color:#e2426c !important;}
.l-nav .gnb .dp2 > li.item > a:before{ display:none;}
.l-nav .gnb .dp2 > li:first-child > a{ border-top:none}
.l-nav .gnb .dp2 > li:last-child > a{ border-bottom:none}
.l-nav .gnb .dp2 > li.on > a{ color:#aaa;}
.l-nav .gnb .dp2 > li.item.on > a{ z-index:2; border-color:#e2426c !important;}
.l-nav .gnb .dp3{ padding:.5em 1.5em;}
.l-nav .gnb .dp3 > li > a{ display:block; padding:.3em 0; font-size:.875em; color:#666; text-align:left}
.l-nav .gnb .dp3 > li.on > a{ color:#e2426c; text-decoration:underline;}

.l-nav .gnb > li.on .dp1,
.l-nav .gnb > li.onCr .dp1,
.l-nav .gnb > li.on:before,
.l-nav .gnb > li.onCr:before,
.l-nav .gnb > li.on .dp1:after,
.l-nav .gnb > li.onCr .dp1:after{ color:#fff;}
.l-nav .gnb > li.on .dp1  { background:#393a3e; border-color:#393a3e;}
.l-nav .gnb > li.onCr .dp1{ background:#393a3e; border-color:#393a3e;}
.l-nav .category .gnb > li.on .dp2{ display:block;}
.l-nav .pagemenu .gnb > li.on .dp2{ display:block;}

.l-wrapper{ overflow:hidden}
.l-main {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: inherit;
  overflow: hidden;  
}

.l-nav {
  -webkit-transition: opacity 700ms ease;
  -moz-transition: opacity 700ms ease;
  -o-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:1
}
.l-nav::-webkit-scrollbar {width: 0;}

html.l-nav-open .l-nav{width: 80%;}

html.l-nav-open,
html.l-nav-open body {
  height: 100%;
  overflow: hidden
}
html.l-nav-closing body {
  background: none;
}
html.l-nav-open .l-main {
  -webkit-transform: translate3d(80%, 0, 0);
  -moz-transform: translate3d(80%, 0, 0);
  -o-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}
html.l-nav-open .l-nav {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  opacity: 1;
  -webkit-box-shadow: 0 0 0.5625rem #666;
  box-shadow: 0 0 0.5625rem #666;
}
.l-nav-open .l-nav,
.l-nav-closing .l-nav {
  display: block;
}


.l-nav .gnb .m_guide, 
.l-nav .gnb .m_mypage, 
.l-nav .gnb .m_company, 
.l-nav .gnb .m_customer{ display:block}

.l-nav .nav_prod_tit{ font-size:1.250em; font-weight:500}




.l-nav .vm_wrap{ display:block; text-align:center; white-space:nowrap}
.l-nav .vm_wrap:before{ content:""; display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:0; height:100%;}
.l-nav .vm_tt{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; white-space:normal;}
.l-nav .vm_wrap img{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; max-height:100%;}

