@charset "utf-8";
/* CSS Document */
body {font-size:14px;}
.box1 {width:100%; max-width:1200px; margin:0 auto;}

#header {height:80px; width:100%; max-width:1200px; display:flex; align-items:center; justify-content:flex-end; position:relative; margin:0 auto;}
#header h1 {font-size:2em; font-weight:600; position:absolute; left:0;}
#contents {margin-bottom:8em;}
table {font-size:1.063em; width:100%; border-collapse: collapse; background-color: #fff; box-shadow: 0 50px 80px -50px rgba(50, 50, 50, 0.12), 0 50px 50px -30px rgba(20, 20, 20, 0.1); color: #555;}
th, td {padding:1em; border:1px solid #eee;}
th {background:#191919; color:#fff; font-weight:600;}
td:nth-child(1) {text-align:center;}
td:nth-child(2) {color:#111; font-weight:500;}
td > a {text-decoration:underline !important; font-weight:300;}
.under_b {border-bottom:4px solid #eee;}