@charset "utf-8";
/* CSS Document */
/* Web Font NotoSanskr */
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 100;
  src: url('../font/noto-sans-kr-100.eot');
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
       url('../font/noto-sans-kr-100.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-100.woff2') format('woff2'),
       url('../font/noto-sans-kr-100.woff') format('woff'),
       url('../font/noto-sans-kr-100.ttf') format('truetype'),
       url('../font/noto-sans-kr-100.svg#NotoSansKR') format('svg');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/noto-sans-kr-300.eot');
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
       url('../font/noto-sans-kr-300.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-300.woff2') format('woff2'),
       url('../font/noto-sans-kr-300.woff') format('woff'),
       url('../font/noto-sans-kr-300.ttf') format('truetype'),
       url('../font/noto-sans-kr-300.svg#NotoSansKR') format('svg');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/noto-sans-kr-regular.eot');
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../font/noto-sans-kr-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-regular.woff2') format('woff2'),
       url('../font/noto-sans-kr-regular.woff') format('woff'),
       url('../font/noto-sans-kr-regular.ttf') format('truetype'),
       url('../font/noto-sans-kr-regular.svg#NotoSansKR') format('svg');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url('../font/noto-sans-kr-500.eot');
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
       url('../font/noto-sans-kr-500.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-500.woff2') format('woff2'),
       url('../font/noto-sans-kr-500.woff') format('woff'),
       url('../font/noto-sans-kr-500.ttf') format('truetype'),
       url('../font/noto-sans-kr-500.svg#NotoSansKR') format('svg');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/noto-sans-kr-700.eot');
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('../font/noto-sans-kr-700.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-700.woff2') format('woff2'),
       url('../font/noto-sans-kr-700.woff') format('woff'),
       url('../font/noto-sans-kr-700.ttf') format('truetype'),
       url('../font/noto-sans-kr-700.svg#NotoSansKR') format('svg');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 900;
  src: url('../font/noto-sans-kr-900.eot');
  src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
       url('../font/noto-sans-kr-900.eot?#iefix') format('embedded-opentype'),
       url('../font/noto-sans-kr-900.woff2') format('woff2'),
       url('../font/noto-sans-kr-900.woff') format('woff'),
       url('../font/noto-sans-kr-900.ttf') format('truetype'),
       url('../font/noto-sans-kr-900.svg#NotoSansKR') format('svg');
}

/* Web Font Montserrat */
@font-face {
  font-family: 'Ms';
  font-style: normal;
  font-weight: 400;
  src: url('../font/montserrat-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../font/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat-regular.woff2') format('woff2'),
       url('../font/montserrat-regular.woff') format('woff'),
       url('../font/montserrat-regular.ttf') format('truetype'),
       url('../font/montserrat-regular.svg#Montserrat') format('svg');
}
@font-face {
  font-family: 'Ms';
  font-style: normal;
  font-weight: 500;
  src: url('../font/montserrat-500.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../font/montserrat-500.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat-500.woff2') format('woff2'),
       url('../font/montserrat-500.woff') format('woff'),
       url('../font/montserrat-500.ttf') format('truetype'),
       url('../font/montserrat-500.svg#Montserrat') format('svg');
}
@font-face {
  font-family: 'Ms';
  font-style: normal;
  font-weight: 600;
  src: url('../font/montserrat-600.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../font/montserrat-600.eot?#iefix') format('embedded-opentype'),
       url('../font/montserrat-600.woff2') format('woff2'),
       url('../font/montserrat-600.woff') format('woff'),
       url('../font/montserrat-600.ttf') format('truetype'),
       url('../font/montserrat-600.svg#Montserrat') format('svg');
}
