@charset "utf-8";
/* CSS Document */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;}
html,body,div,p,span,a,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,form,input,select,textarea,button,label,fieldset,table,tr,td,th,tbody,thead,tfoot,caption,video,strong,em,i,b{ margin:0; padding:0; word-break:keep-all; font-family:inherit; font-size:inherit; font-weight:inherit;}
ul,ol,li{ list-style:none;}
img { border:none; max-width:100%;}
em,i{ font-style:normal;}
strong,th,b{ font-weight:500;}
table{ table-layout:fixed; border-collapse:collapse; border-spacing:0;}
span, strong, a, em, i, b, input, button, textarea, select{ font-size:inherit; font-family:inherit; vertical-align:middle;}
input[type=button], input[type=submit], button{ cursor:pointer;}
select{ max-width:100%;}
*:focus, a:focus, input:focus, button:focus, textarea:focus, select:focus{ outline:none;}
a, input, button, textarea, select, li{ -webkit-tap-highlight-color:transparent;}
input[type="text"],input[type="password"],input[type=button],input[type=submit],input[type="file"],button,label,textarea,select{ appearance:none; -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:0;}

::selection     { background:#71ad2c; color:#fff !important;}
::-moz-selection{ background:#71ad2c; color:#fff !important;}

a:link   { color:#111; text-decoration:none;}
a:visited{ color:#111;}
a:active { color:#111;}
a:hover  { color:#111; text-decoration:none;}

html{ overflow-x:hidden; overflow-y:scroll;}
body{ font-family:'NotoSans',sans-serif; font-weight:400; line-height:1.2; letter-spacing:-.5px;}
body.hidden, html.hidden{ overflow-y:hidden;}

/*inc*/
.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important; display:block;}
.oh{ overflow:hidden !important;}

.pr{ position:relative; z-index:inherit;}
.pa{ position:absolute; z-index:inherit;}
.pf{ position:fixed; z-index:inherit;}

.di{ display:inline-block; *display:inline; zoom:1;}
.db{ display:block !important;}
.dn{ display:none !important;}

.di_wrap{ font-size:0;}
.di_wrap > *{ display:inline-block; *display:inline; zoom:1; vertical-align:top; font-size:16px; font-size:1rem;}
.di_wrap > * > .in{ display:block;}

.fl_wrap{ *zoom:1;}
.fl_wrap:after{ content:""; display:block; clear:both;}
.fl_wrap > *     { float:left;}
.fl_wrap > .left { float:left;}
.fl_wrap > .right{ float:right;}
.fl_wrap > * > .in{ display:block;}

.di_table{ display:table; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0; box-sizing:border-box;}
.di_table .tr{ display:table-row;}
.di_table .th,
.di_table .td{ display:table-cell; vertical-align:middle;}

.flex{ display:flex; justify-content:space-between; align-content:center;}
.flex.wrap{ flex-wrap:wrap;}
.flex.column{ flex-direction:column;}
.flex.center{ align-items:center;}
.flex.cont_center { justify-content:center;}
.flex.cont_around { justify-content:space-around;}
.flex.cont_stretch{ align-items:stretch;}
.flex.item_stretch{ align-self:stretch;}

.vm_wrap{ display:block; text-align:center; white-space:nowrap;}
.vm_wrap:before{ content:""; display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:0; height:100%;}
.vm_tt{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; max-width:100%; height:auto; white-space:normal; box-sizing:border-box;}
.vm_wrap img{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; max-height:100%;}

.resize{ display:block; height:0; padding-bottom:66.66%; position:relative;}
.resize .re{ position:absolute; left:0; top:0; width:100%; height:100%;}
.resize.s1 { padding-bottom:100%;}
.resize.s2 { padding-bottom:60%;}

.con_idx{ position:relative;}
.con_idx > .idx{ position:absolute; left:0; top:0; width:100%; height:0; overflow:hidden; visibility:hidden; filter:alpha(opacity=0); opacity:0;}
.con_idx > .idx.on{ position:relative; height:auto; overflow:visible; visibility:visible; filter:alpha(opacity=100); opacity:1;}

/*popup*/
.popOpen{ margin-right:17px;}
.popOpen .wrapFix #header{ right:17px;}
.popOpen #footer .goTop{ display:none;}

.layer_wrap{ position:fixed; left:0; top:0; width:100%; height:100%; visibility:hidden; z-index:1000;}
.layer_wrap .layer_bg{ position:absolute; z-index:9999; width:100%; height:100%; left:0; top:0; background:#000; opacity:0; transition:.5s;}
.layer_wrap .layer_frame{ position:absolute; z-index:10000; left:0; top:0; width:100%; height:100%; transition:.5s;}
.layer_wrap .layer_img{ position:absolute; z-index:10000; left:2%; top:2%; width:96%; height:96%;}
.layer_wrap .layer_img img{ position:relative; z-index:2;}
.layer_closeBg{ position:fixed; z-index:1; left:0; top:0; width:100%; height:100%;}

.layer_wrap.on{ visibility:visible;}
.layer_wrap.on .layer_bg{ opacity:.5;}

body.pop{ background:transparent;}
body.pop .popWrap .popIn,
body.pop .popWrap .popIn:before,
body.pop .popWrap .popIn .popCon{ box-sizing:border-box;}
body.pop .popWrap{ position:absolute; left:2%; top:2%; width:96%; height:96%; text-align:center; white-space:nowrap;}
body.pop .popWrap:before{ content: ""; display:inline-block; width:0; height:100%; margin-right:-4px; vertical-align:middle;}
body.pop .popWrap .popIn{ position:relative; z-index:2; display:inline-block; vertical-align:middle; overflow-y:auto; max-width:100%; max-height:100%; background:#fff; box-shadow:1px 1px 10px #333; text-align:left; white-space:normal; 
scrollbar-face-color:#999; 
scrollbar-arrow-color:#999; 
scrollbar-track-color:#e6e6e6;}
body.pop .popWrap .popIn::-webkit-scrollbar{ width:10px; height:10px;}
body.pop .popWrap .popIn::-webkit-scrollbar-thumb{ background:#999;}
body.pop .popWrap .popIn::-webkit-scrollbar-track{ background:#e6e6e6;}
body.pop .popWrap .popIn:before{ content:attr(data-tit); position:relative; z-index:1; display:block; padding:1.2em 2em 0 2em; font-size:1.500em; color:#222; font-weight:500; letter-spacing:-1px;}
body.pop .popWrap .popIn .popCon{ position:relative; max-height:100%; min-width:250px; padding:2em 2em 5em 2em;}
body.pop .popWrap .popIn .popClose{ position:absolute; z-index:2; right:.8em; top:.6em; width:2em; line-height:2em; background:#fff; border-radius:100%; box-shadow:1px 1px 8px rgba(0,0,0,.2); font-size:1.500em; color:#222; text-align:center;}
body.pop .popWrap .popIn .popClose:hover{ background:#71ad2c; color:#fff; transition:.2s;}
body.pop .popWrap.titNon .popIn:before{ display:none;}
body.pop .popWrap.btnNon .popIn .popClose{ display:none;}

/**/
.pd0{ padding:0 !important;}
.pt0{ padding-top:0 !important;}

.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}

.mb0{ margin-bottom:0 !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mb20{ margin-bottom:20px !important;}
.mb30{ margin-bottom:30px !important;}
.mb40{ margin-bottom:40px !important;}
.mb50{ margin-bottom:50px !important;}

.ml0{ margin-left:0 !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}

.mr0{ margin-right:0 !important;}
.mr5{ margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr20{ margin-right:20px !important;}
.mr30{ margin-right:30px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}

/**/
.c_white{ color:#fff !important;}
.c_black{ color:#000 !important;}
.c_gray { color:#999 !important;}
.c_blue { color:#2a5caa !important;}
.c_red  { color:#b91515 !important;}
.c_point{ color:#71ad2c !important;}

.fs10{ font-size:0.625em !important;}
.fs11{ font-size:0.688em !important;}
.fs12{ font-size:0.750em !important;}
.fs13{ font-size:0.813em !important;}
.fs14{ font-size:0.875em !important;}
.fs15{ font-size:0.938em !important;}
.fs16{ font-size:1.000em !important;}
.fs17{ font-size:1.063em !important;}
.fs18{ font-size:1.125em !important;}
.fs19{ font-size:1.188em !important;}
.fs20{ font-size:1.250em !important;}

.sec1 > * { width:100% !important;}
.sec2 > * { width:50% !important;}
.sec3 > * { width:33.33% !important;}
.sec4 > * { width:25% !important;}
.sec5 > * { width:20% !important;}
.sec6 > * { width:16.66% !important;}
.sec7 > * { width:14.28% !important;}
.sec8 > * { width:12.5% !important;}
.sec9 > * { width:11.11% !important;}
.sec10 > *{ width:10% !important;}
