@charset "utf-8";
/* CSS Document */
body { font-size:16px;}
.box0{ width:1920px; max-width:94%; margin:0 auto;}
.box1{ width:1200px; max-width:94%; margin:0 auto;}

.PC   { display:block !important;}
.PHONE{ display:none !important;}

/*header*/
#header{ position:relative; z-index:999; background:#fff;}
#header .en{ font-family:'Ms','NotoSans',sans-serif; letter-spacing:0;}
#header .top_wrap{ background:#4e7f07;}
#header .top_wrap .vm_wrap{ height:40px;}
#header .top_wrap *{ color:#fff;}
#header .top_wrap .follow .tit,
#header .top_wrap .follow .sns{ display:inline-block; *display:inline; zoom:1; vertical-align:top;}
#header .top_wrap .follow .tit{ font-size:.938em; font-weight:600;}
#header .top_wrap .follow .tit .tt:after{ content:""; display:inline-block; *display:inline; zoom:1; vertical-align:top; margin:.1em 1.6em 0 2em; width:1px; height:1em; background:#fff; opacity:.3;}
#header .top_wrap .follow .sns > li > a{ padding:0 .6em;}
#header .top_wrap .follow .sns > li:first-child > a{ padding-left:0;}
#header .top_wrap .follow .sns > li > a .xi{ font-size:1.250em;}
#header .top_wrap .etc > li{ display:inline-block; *display:inline; zoom:1; vertical-align:top; text-transform:uppercase;}
#header .top_wrap .etc > li > a{ margin-left:1.8em; font-size:.813em;}
#header .top_wrap .etc > li:first-child > a{ margin-left:0;}
#header .top_wrap .etc > li.en > a{ font-size:.688em; font-weight:600;}
#header .top_wrap .etc > li > a:hover .tt{ text-decoration:underline;}

#header .logo_wrap{ position:relative; text-align:center;}
#header .logo_wrap .logo .vm_wrap,
#header .logo_wrap .menu.vm_wrap{ height:8em;}
#header .logo_wrap .logo{ display:inline-block; *display:inline; zoom:1;}
#header .logo_wrap .logo img{ height:4.8em;}
#header .logo_wrap .menu { position:absolute; top:0;}
#header .logo_wrap .menuL{ left:0;}
#header .logo_wrap .menuR{ right:0;}
#header .logo_wrap .menu .list > li{ display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
#header .logo_wrap .menu .list > li > a{ display:block; margin-left:1.5em; color:#222; text-transform:uppercase; line-height:1em;}
#header .logo_wrap .menu .list > li:first-child > a{ margin-left:0;}
#header .logo_wrap .menu .list > li > a:hover{ color:#1f5d39;}
#header .logo_wrap .menu .list .txt .xi{ font-size:.875em; padding-right:.4em;}
#header .logo_wrap .menu .list .txt.en .tt{ font-size:.750em;}
#header .logo_wrap .menu .list .txt.kr .tt{ font-size:.813em;}
#header .logo_wrap .menu .list .ico .xi{ font-size:1.750em;}
#header .logo_wrap .menu .list .all_btn{ position:relative; display:block; width:1.6em; height:1.2em; margin-top:-3px;}
#header .logo_wrap .menu .list .all_btn .ham{ display:block;}
#header .logo_wrap .menu .list .all_btn .ham,
#header .logo_wrap .menu .list .all_btn .ham:before,
#header .logo_wrap .menu .list .all_btn .ham:after{ width:100%; height:3px; background:#222; transition:.2s;}
#header .logo_wrap .menu .list .all_btn .ham:before,
#header .logo_wrap .menu .list .all_btn .ham:after{ content:""; position:absolute; left:0;}
#header .logo_wrap .menu .list .all_btn .ham:before{ top:50%;}
#header .logo_wrap .menu .list .all_btn .ham:after { top:100%;}
#header .logo_wrap .menu .list .all_btn:hover .ham,
#header .logo_wrap .menu .list .all_btn:hover .ham:after{ width:120%; background:#71ad2c;}
#header .logo_wrap .search_btn{ position:relative; z-index:2;}

.gnb > li .dp1{ font-family:'Ms','NotoSans',sans-serif; font-weight:600; text-transform:uppercase; letter-spacing:0;}
.gnb > li .dp2{ text-transform:uppercase; letter-spacing:0;}

#header .gnb_wrap{ position:relative; top:0; left:0; right:0; border:solid #222; border-width:1px 0 1px 0;}
#header .gnb_wrap .vm_wrap{ height:60px;}
#header .gnb_wrap .gnb .m_mypage{ display:none;}

#header .gnb_wrap .menu1 .gnb > li{ margin-left:3.4em;}
#header .gnb_wrap .menu1 .gnb > li .dp1{ color:#222;}
#header .gnb_wrap .menu2 .gnb > li{ margin-left:1.5em;}
#header .gnb_wrap .menu2 .gnb > li .dp1{ font-size:.938em; color:#1f5d39;}
#header .gnb_wrap .menu2 .gnb > li .dp1 .vm_tt:before{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; margin:-.1em .2em 0 0; font-family:xeicon; font-size:1.313em; font-weight:normal;}
#header .gnb_wrap .menu2 .gnb > li.m_customer .dp1 .vm_tt:before{ content:"\e998";}
#header .gnb_wrap .menu2 .gnb > li.m_event .dp1 .vm_tt:before   { content:"\ea3a";}
#header .gnb_wrap .menu2 .gnb > li.m_video .dp1 .vm_tt:before   { content:"\ea4c";}

#header .gnb_wrap .gnb > li{ position:relative;}
#header .gnb_wrap .gnb > li:first-child{ margin-left:0 ;}
#header .gnb_wrap .gnb > li:after{ content:""; position:absolute; z-index:1; left:50%; bottom:0; width:0; height:3px; background:#71ad2c; transition:.2s;}
#header .gnb_wrap .gnb > li .dp1{ transition:.2s;}
#header .gnb_wrap .gnb > li:hover .dp1,
#header .gnb_wrap .gnb > li.on .dp1{ color:#71ad2c;}
#header .gnb_wrap .gnb > li:hover:after,
#header .gnb_wrap .gnb > li.on:after{ width:120%; margin-left:-60%;}

#header .gnb_wrap .gnb .dp2{ position:absolute; z-index:2; top:100%; left:50%; margin-top:-.5em; margin-left:-6em; width:12em; padding:.8em 1.4em; background:#fff; border:1px solid #aaa; box-shadow:.15em .15em .3em rgba(0,0,0,.15); box-sizing:border-box;}
#header .gnb_wrap .menu2 .gnb .dp2{ margin-left:-5em; width:10em;}
#header .gnb_wrap .gnb .dp2 .vm_wrap{ height:auto;}
#header .gnb_wrap .gnb .dp2 > li{ float:none;}
#header .gnb_wrap .gnb .dp2 > li > a{ padding:.6em; border-top:1px dashed #e5e5e5; text-align:left; font-size:.813em;}
#header .gnb_wrap .gnb .dp2 > li:first-child > a{ border-top:none;}
#header .gnb_wrap .gnb .dp2 > li:hover > a .vm_tt{ color:#1f5d39; text-decoration:underline;}

#header .gnb_wrap .gnb > li .dp2{ opacity:0; visibility:hidden; transition:.1s;}
#header .gnb_wrap .gnb > li:hover .dp2{ opacity:1; visibility:visible;}

#header .search_layer{ position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; background:#fff; opacity:0; visibility:hidden; transition:.2s;}
#header .search_layer .vm_tt{ padding:1em 0;}
#header .search_layer .inp_wrap{ position:relative; width:34em; max-width:100%; margin:0 auto;}
#header .search_layer .inp_wrap .inp{ display:block; box-sizing:border-box; height:3em; background:transparent; border:2px solid transparent;}
#header .search_layer .inp_wrap .inp_txt{ width:100%; padding:.6em 3em .6em 1.5em; border-color:#222; border-radius:.3em;}
#header .search_layer .inp_wrap .inp_btn{ position:absolute; top:0; right:.6em;}
#header .search_layer .inp_wrap .inp_btn .xi{ font-size:2.125em; color:#222;}
#header .search_layer .inp_wrap .inp_btn:hover .xi{ color:#71ad2c;}
#header .search_layer .keyword_wrap{ margin-top:.8em;}
#header .search_layer .keyword_wrap > li{ display:inline-block; *display:inline; zoom:1; vertical-align:top;}
#header .search_layer .keyword_wrap > li > a{ display:block; padding:.4em 1em; border:1px dashed #ddd; border-radius:.3em; font-size:.813em;}
#header .search_layer .keyword_wrap > li > a:hover{ background:#1f5d39; border-color:transparent; color:#fff;}

#header.search_open .search_btn .xi{ font-size:2.000em !important;}
#header.search_open .search_btn .xi:before{ content:"\e921";}
#header.search_open .search_layer{ z-index:1; opacity:1; visibility:visible;}

#header .nav_layer{ position:fixed; z-index:2; top:0; left:-100%; bottom:0; width:30em; max-width:60%; background:#111; transition:.2s;}
#header .nav_layer .nav_wrap{ position:absolute; top:0; left:0; right:0; bottom:0; padding:2em 2em;}
#header .nav_layer .nav_wrap .vm_wrap{ height:auto;}
#header .nav_layer .nav_wrap .en{ text-transform:uppercase;}
#header .nav_layer .nav_wrap .nav_logo{ display:none;}
#header .nav_layer .nav_wrap .nav_mem{ position:relative; text-align:right;}
#header .nav_layer .nav_wrap .nav_mem > li{display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
#header .nav_layer .nav_wrap .nav_mem > li > a{ display:block; margin-left:1em; padding-left:1em; border-left:1px solid rgba(255,255,255,.4); color:#fff; font-weight:600; line-height:1em;}
#header .nav_layer .nav_wrap .nav_mem > li:first-child > a{ margin-left:0; padding-left:0; border-left:none;}
#header .nav_layer .nav_wrap .nav_mem > li > a:hover{ text-decoration:underline;}
#header .nav_layer .nav_wrap .nav_gnb{ position:absolute; top:5em; left:0; right:0; bottom:0; padding:0 2em; overflow-y:auto;}
#header .nav_layer .nav_wrap .nav_gnb a{ color:#fff;}
#header .nav_layer .nav_wrap .nav_tab{ margin-bottom:2.5em;}
#header .nav_layer .nav_wrap .nav_tab .vm_wrap{ height:2.5em;}
#header .nav_layer .nav_wrap .nav_tab .vm_tt{ width:100%; padding:.2em;}
#header .nav_layer .nav_wrap .nav_tab > li{ width:50%;}
#header .nav_layer .nav_wrap .nav_tab > li > a{ border:1px solid #fff; font-size:1.250em; font-weight:600;}
#header .nav_layer .nav_wrap .nav_tab > li:hover > a{ color:#71ad2c;}
#header .nav_layer .nav_wrap .nav_tab > li.on > a{ background:#fff; color:#111;}
#header .nav_layer .nav_wrap .nav_con .fl_wrap > *{ float:none;}
#header .nav_layer .nav_wrap .nav_con .gnb .vm_wrap{ text-align:left;}
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp1{ position:relative; z-index:1; height:3em; margin-top:-1px; padding:0 .3em; border:solid #666; border-width:1px 0 1px 0; font-size:1.125em;}
#header .nav_layer .nav_wrap .nav_con .gnb > li:first-child .dp1{ border-top-width:0}
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp1.arrow:after{ content:"\e941"; font-family:xeicon; color:#fff; font-weight:normal; position:absolute; top:.5em; right:.6em; width:1.8em; line-height:1.8em; border:1px solid #fff; border-radius:100%; text-align:center; transition:.2s;}
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp2{ height:0; padding:0 1.5em; overflow:hidden; visibility:hidden; transition:.2s;}
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp2 > li > a{ padding:.3em 0; font-size:.938em;}
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp2 > li:hover > a .vm_tt,
#header .nav_layer .nav_wrap .nav_con .gnb > li .dp2 > li.on > a .vm_tt{ text-decoration:underline;}

#header .nav_layer .nav_wrap .nav_con .gnb > li:hover .dp1,
#header .nav_layer .nav_wrap .nav_con .gnb > li.on .dp1{ z-index:2; border-color:#71ad2c; color:#71ad2c;}
#header .nav_layer .nav_wrap .nav_con .gnb > li.on .dp1.arrow:after{ background:#71ad2c; border-color:#71ad2c;}
#header .nav_layer .nav_wrap .nav_con .gnb > li.active:not(.on) .dp1.arrow:after{ background:#fff; border-color:#fff; color:#111; transform:rotate(-180deg);}
#header .nav_layer .nav_wrap .nav_con .gnb > li.on .dp2,
#header .nav_layer .nav_wrap .nav_con .gnb > li.active .dp2{ height:auto; padding-top:1em; padding-bottom:1em; visibility:visible;}

#header .nav_layer .nav_wrap .nav_btn{ padding:2em 0;}
#header .nav_layer .nav_wrap .nav_btn > a{ position:relative; display:block; padding:1.4em 2em; background:#4e7f07; border-radius:.3em; line-height:1em; transition:.2s;}
#header .nav_layer .nav_wrap .nav_btn .icon{ font-size:1.500em; margin-right:.4em;}
#header .nav_layer .nav_wrap .nav_btn .tt{ font-size:1.125em;}
#header .nav_layer .nav_wrap .nav_btn .arrow{ position:absolute; right:1em; top:50%; transform:translateY(-50%); width:1.8em; height:1.8em; line-height:1.8em; background:#fff; border-radius:100%; text-align:center; color:#111;}
#header .nav_layer .nav_wrap .nav_btn > a:hover{ background:#1f5d39;}

#header.nav_open .nav_layer{ left:0;}
#header.nav_open .logo_wrap .menu .list .all_btn{ position:fixed; z-index:3; top:2.8em; left:2em; width:2em;}
#header.nav_open .logo_wrap .menu .list .all_btn .ham{ background:transparent;}
#header.nav_open .logo_wrap .menu .list .all_btn .ham:before,
#header.nav_open .logo_wrap .menu .list .all_btn .ham:after { background:#fff; top:0; width:100% !important;}
#header.nav_open .logo_wrap .menu .list .all_btn .ham:before{ transform:rotate(-45deg);}
#header.nav_open .logo_wrap .menu .list .all_btn .ham:after { transform:rotate(45deg);}

.wrapFix #header{ position:fixed; top:0; left:0; right:0;}
.wrapFix #header .top_wrap{ display:none;}
.wrapFix #header .logo_wrap .logo .vm_wrap,
.wrapFix #header .logo_wrap .menu.vm_wrap{ height:4.5em; transition:.2s;}
.wrapFix #header .logo_wrap .logo img{ height:3em; transition:.2s;}
.wrapFix #header .search_layer{ font-size:.875em;}
.wrapFix #header .search_layer .keyword_wrap{ display:none;}

/*footer*/
#footer{ background:#222;}
#footer .en{ font-family:'Ms','NotoSans',sans-serif; text-transform:uppercase; letter-spacing:0;}
#footer .goTop{ position:fixed; bottom:-2em; right:2em; width:4em; height:4em; background:#111; border-radius:100%; text-align:center; color:#fff; opacity:0; visibility:hidden; transition:.2s;}
#footer .goTop .tt{ display:block; font-size:.688em;}
#footer .goTop:hover{ background:#1f5d39;}
.scroll #footer .goTop{ bottom:2em; opacity:1; visibility:visible;}

#footer .footer_wrap{ padding:2.5em 0 4em 0; text-align:center;}
#footer .logo_wrap{ position:relative; padding:0 15em 1.5em 15em;}
#footer .logo_wrap .logo{ display:inline-block; *display:inline; zoom:1;}
#footer .logo_wrap .family{ position:absolute; top:.2em; right:0; text-align:left;}
#footer .logo_wrap .family .sel{ position:relative; box-sizing:border-box; width:13em; padding:1em 1.8em; background:none; border:1px solid rgba(255,255,255,.3); text-align:left;}
#footer .logo_wrap .family .sel .tt{ font-size:.813em; color:#fff;}
#footer .logo_wrap .family .sel .xi{ position:absolute; right:.8em; top:50%; margin-top:-.6em; color:#fff; transition:.3s;}
#footer .logo_wrap .family .sel .xi:before{ content:"\e930";}
#footer .logo_wrap .family .list{ position:absolute; left:0; right:0; bottom:100%; padding:.6em 1em; background:#111; opacity:0; visibility:hidden; transition:.2s;}
#footer .logo_wrap .family .list > li > a{ display:block; padding:.6em .2em; border-top:1px solid rgba(255,255,255,.3); font-size:.813em; color:#999;}
#footer .logo_wrap .family .list > li:first-child > a{ border-top:none;}
#footer .logo_wrap .family .list > li:hover > a{ color:#fff;}
#footer .logo_wrap .family.on .list{ opacity:1; visibility:visible;}
#footer .logo_wrap .family:hover .sel,
#footer .logo_wrap .family.on .sel{ background:#111;}
#footer .logo_wrap .family.on .sel .xi{ transform:rotate(180deg);}

#footer .menu_wrap{ padding:1.5em 0; border-top:1px solid rgba(255,255,255,.15);}
#footer .menu_wrap .menu{ display:inline-block; *display:inline; zoom:1;}
#footer .menu_wrap .menu > li{ position:relative;}
#footer .menu_wrap .menu > li:before{ content:""; position:absolute; top:15%; left:0; height:70%; width:1px; background:#fff; opacity:.25;}
#footer .menu_wrap .menu > li:first-child:before{ display:none;}
#footer .menu_wrap .menu > li > a{ padding:0 1.4em; font-size:.938em; color:#fff;}
#footer .menu_wrap .menu > li > a:hover{ text-decoration:underline;}

#footer .info_wrap{ font-weight:300; letter-spacing:0;}
#footer .info_wrap *{ color:#fff;}
#footer .info_wrap .tt{ display:inline-block; *display:inline; zoom:1; padding:.3em 1em; font-size:.813em;}
#footer .info_wrap .tt *{ vertical-align:baseline;}
#footer .info_wrap .copy{ padding-top:2.5em; font-size:.688em; opacity:.5;}

/*contents*/
#contents{}
#contents .en{ font-family:'Ms','NotoSans',sans-serif; text-transform:uppercase; letter-spacing:0;}

#contents .sub_page_top{ margin-bottom:3em; background:#222; text-align:center;}
#contents .sub_page_top .sub_tit{ padding:2.5em 0;}
#contents .sub_page_top .sub_tit .tit{ font-size:2.500em; color:#fff; font-weight:600;}
#contents .sub_page_top .sub_menu{ border-top:1px solid rgba(255,255,255,.2); text-align:center;}
#contents .sub_page_top .sub_menu .gnb{ display:inline-block; *display:inline; zoom:1;}
#contents .sub_page_top .sub_menu .gnb > li,
#contents .sub_page_top .sub_menu .gnb > li .dp1{ display:none;}
#contents .sub_page_top .sub_menu .gnb > li.on{ display:block;}
#contents .sub_page_top .sub_menu .gnb .dp2 .vm_wrap{ height:3.2em;}
#contents .sub_page_top .sub_menu .gnb .dp2 > li > a{ position:relative; min-width:6em; padding:0 2em; font-size:1.125em; color:#fff; font-weight:500;}
#contents .sub_page_top .sub_menu .gnb .dp2 > li > a:after{ content:""; z-index:1; position:absolute; left:5%; top:-1px; width:0; height:1px; background:#e1a402; visibility:hidden; transition:.2s;}
#contents .sub_page_top .sub_menu .gnb .dp2 > li > a .vm_tt{ position:relative; z-index:2;}
#contents .sub_page_top .sub_menu .gnb .dp2 > li:hover > a,
#contents .sub_page_top .sub_menu .gnb .dp2 > li.on > a{ color:#e1a402;}
#contents .sub_page_top .sub_menu .gnb .dp2 > li:hover > a:after,
#contents .sub_page_top .sub_menu .gnb .dp2 > li.on > a:after{ width:90%; visibility:visible;}

#contents .doc{ padding:0 0 10em 0;}
#contents .doc_main{}

/*SUB PAGE************************/
/*inc*/
.page_mg { margin-top:3em !important;}
.page_mg1{ margin-top:1em !important;}
.page_mg2{ margin-top:6em !important;}

/*MYPAGE***************************/


/*MEMBER***************************/


/*POPUP****************************/
body.pop .popAgree .popIn{ width:900px;}


/*MAIN************************/
.main_visual{ position:relative;}
.main_visual .visual .item{ position:relative; background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
.main_visual .visual .slogan{ position:absolute; left:0; right:0; bottom:6em; text-align:center;}
.main_visual .visual .slogan .tt{ color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,.3);}
.main_visual .visual .slogan .t1{ font-size:3.375em; font-weight:600; letter-spacing:-1px;}
.main_visual .visual .slogan .t2{ font-size:1.250em; font-weight:500; line-height:1.6em; margin-top:1.6em;}
.main_visual .visual .slogan .btn{ margin-top:2.4em;}
.main_visual .visual .slogan .btn > a{ display:inline-block; *display:inline; zoom:1; min-width:7em; padding:1em 2em; background:rgba(0,0,0,.4); border:2px solid #fff; font-size:1.125em; color:#fff; font-weight:600; transition:.2s;}
.main_visual .visual .slogan .btn > a:hover{ background:#4e7f07;}
.main_visual .visual .slogan{ margin-bottom:-3em; opacity:0; transition:.6s;}
.main_visual .visual .slogan .btn{ opacity:0; transition:.6s;}
.main_visual .visual .activeAni .slogan{ margin-bottom:0; opacity:1; transition-delay:.6s;}
.main_visual .visual .activeAni .slogan .btn{ opacity:1; transition-delay:1s;}

.main_visual .arrow_wrap{ position:absolute; left:2%; right:2%; top:50%;}
.main_visual .arrow_wrap > li{ position:absolute; top:-3em; text-align:center;}
.main_visual .arrow_wrap > li.prev{ left:0;}
.main_visual .arrow_wrap > li.next{ right:0;}
.main_visual .arrow_wrap > li .xi{ width:1.8em; line-height:1.8em; background:rgba(0,0,0,.3); border:2px solid #fff; border-radius:100%; font-size:2.500em; color:#fff; cursor:pointer; transition:.2s;}
.main_visual .arrow_wrap > li:hover .xi{ background:#111; border-color:#111;}


/* 메인 코딩 후 삭제 */
.wrap{position: relative; z-index:inherit; left:50%; top:0; width:2000px; margin-left:-1000px}
.wrap img{ max-width:none;}

.conFix_wrap{ position:relative;}
.conFix_wrap .conFix{ position:absolute; left:50%; margin-left:220px;}
.conFix_wrap .con{ margin-bottom:80px;}